p, a, h1, h2, h3, h4, h5, h6, button{
	color: white;
	text-decoration: none;
	font-family: 'Play', sans-serif;
}

input{
	color: black;
}

a:hover, a:visited{
	color:white;
	cursor: pointer;
}

body{
	background-color: #7B52AB;
}

.logo{
	height: 50px;
}

.row{
	margin-top: 5px;
}

.redBackground{
	background-color: red;
}

.greenBackground{
	background-color: green;
}